form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  border-radius: 0.3rem;
  font-size: 1rem;
  max-width: 40vw;
}

.youtyped {
  background-color: #d9d9d9;
  font-weight: bold;
}

.renderedpara {
  /* border: 1px solid #3c6e71; */
  background-color: #d9d9d9;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-top: 3vh;
  width: 40vw;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.renderedcont {
  font-style: italic;
}

button {
  background-color: #3c6e71;
  color: #fff;
  width: max-content;
  margin-top: 1vh;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

button:hover {
  background-color: #284b63;
  text-decoration: underline;
  scale: 1.05;
  transition: width 1s ease-in;
}

button:active {
  background-color: #284b63;
  text-decoration: underline;
  font-weight: bolder;
  scale: 1;
  transition: width 1s ease-in;
}
