.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #284b63;
  padding: 2vh 22vw;
}

.socials {
  display: inline-flex;
  gap: 1vw;
}

.socials img {
  width: 2rem;
  height: 2rem;
  margin-left: 1vw;
  flex: 1;
}

.socials img:hover {
  opacity: 80%;
}

.socials img:active {
  opacity: 100%;
  scale: 1.1;
}
