.wrapper {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #284b63;
  width: 100%;
  min-width: max-content;
  flex: 1;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
  padding: 1rem;
}

.activeLink,
.inactiveLink {
  padding: 0 1rem;
}

.activeLink {
  color: #d9d9d9;
}

.inactiveLink {
  color: #fff;
  text-decoration: none;
}

.inactiveLink:hover {
  color: #d9d9d9;
  text-decoration: underline;
  scale: 1.1;
  font-weight: bolder;
}
